.main-div {
  width: 98%;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5rem;
  background-color: #323232;
}

.count-div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2AA8D0;
  width: 120px;
  height: 120px;
}

.count-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #313E42;
  border-radius: 100px;
}

.count {
  font-size: 3rem;
}

.edit-delete-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-count-buttons, .counters {
  color: whitesmoke;
}

.counters {
  background-color: #424242;
}
